//- Preloaders are nice to be put in the html (instead of the js) because it gives a instant response to the user
.preloader
  p.preloader__text
    | This is an preloader example

  .preloader__number 0%
