// first all of this utils and base stuff so the variables, functions and mixins can be
// used by the subsequent classes

@import './utils/variables';
@import './utils/functions';
@import './utils/mixins';
@import './utils/vendors';

@import './base/fonts';

@import './mixins/titles';
@import './mixins/descriptions';

@import './base/reset';
@import './base/base';

@import './pages/about/about';
@import './pages/contact/contact';
@import './pages/home/home';
